//variables
$color-primary: #EE3611;
$color-default: #1F256C;
$color-danger: #FCD3CB;
$color-warning: rgb(241, 185, 1);
$width-content-section: 1480px;
$width-content: 80%;
$white-text: #f2f2f2;

// responsive
$max-with-responsive-small: 80%;